# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE/editor
.vscode/
.idea/
*.swp

########################################
# C / C++ build artifacts
########################################
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects / DLLs
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel module results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug info
*.dwo

########################################
# Rust / Cargo
########################################
# Build artifacts and compiled binaries
**/target/
**/debug/
**/release/

# Cargo intermediates
*.rlib
*.rmeta

# rustfmt backup files
**/*.rs.bk

# Cargo.lock (for non-library projects)
*.lock

# Cargo.toml (if you don't want to track project manifests)
*.toml

# Compiled binaries (project-specific)


# Incremental compilation
**/incremental/
